// Bindings for images and icons used throughout the guides

// Buffs and debuffs

.protection{
	content: url('https://wiki.guildwars2.com/images/6/6c/Protection.png');
}

.stability{
	content: url('https://wiki.guildwars2.com/images/a/ae/Stability.png');
}

.defiance{
	content: url('https://wiki.guildwars2.com/images/4/49/Unshakable2.png');
}

.resolution{
	content: url('https://wiki.guildwars2.com/images/0/06/Resolution.png');
}

.might{
	content: url('https://wiki.guildwars2.com/images/7/7c/Might.png');
}

.empowered{
	content: url('https://wiki.guildwars2.com/images/9/9c/Empowered_%28Mursaat_Overseer%29.png');
}

.aegis{
	content: url('https://wiki.guildwars2.com/images/e/e5/Aegis.png');
}

.stun{
	content: url('https://wiki.guildwars2.com/images/thumb/9/97/Stun.png/30px-Stun.png');
}

.unblockable{
	content: url('https://wiki.guildwars2.com/images/thumb/6/6e/Unblockable.png/30px-Unblockable.png');
}

// Decima Mechanics

.charge{
	content: url('https://wiki.guildwars2.com/images/thumb/0/01/Electrical_Buildup.png/30px-Electrical_Buildup.png');
}

.harmonic-sensitivity{
	content: url('https://wiki.guildwars2.com/images/thumb/6/68/Tracked.png/30px-Tracked.png');
}

.galvanic-sensitivity{
	content: url('https://wiki.guildwars2.com/images/thumb/4/42/Exposed_%28Statue_of_Darkness%29.png/30px-Exposed_%28Statue_of_Darkness%29.png');
}