// Bindings for images and icons used throughout the guides

// Buffs and debuffs

.protection{
	content: url('https://wiki.guildwars2.com/images/6/6c/Protection.png');
}

.stability{
	content: url('https://wiki.guildwars2.com/images/a/ae/Stability.png');
}

.defiance{
	content: url('https://wiki.guildwars2.com/images/4/49/Unshakable2.png');
}

.resolution{
	content: url('https://wiki.guildwars2.com/images/0/06/Resolution.png');
}

.might{
	content: url('https://wiki.guildwars2.com/images/7/7c/Might.png');
}

.empowered{
	content: url('https://wiki.guildwars2.com/images/9/9c/Empowered_%28Mursaat_Overseer%29.png');
}

.aegis{
	content: url('https://wiki.guildwars2.com/images/e/e5/Aegis.png');
}
