// Bindings for images and icons used throughout the guides

// Buffs and debuffs

.protection{
	content: url('https://wiki.guildwars2.com/images/6/6c/Protection.png');
}

.stability{
	content: url('https://wiki.guildwars2.com/images/a/ae/Stability.png');
}

.defiance{
	content: url('https://wiki.guildwars2.com/images/4/49/Unshakable2.png');
}

.resolution{
	content: url('https://wiki.guildwars2.com/images/0/06/Resolution.png');
}

.quickness{
	content: url('https://wiki.guildwars2.com/images/b/b4/Quickness.png');
}

.might{
	content: url('https://wiki.guildwars2.com/images/7/7c/Might.png');
}

.empowered{
	content: url('https://wiki.guildwars2.com/images/9/9c/Empowered_%28Mursaat_Overseer%29.png');
}

.aegis{
	content: url('https://wiki.guildwars2.com/images/e/e5/Aegis.png');
}

.stun{
	content: url('https://wiki.guildwars2.com/images/thumb/9/97/Stun.png/30px-Stun.png');
}

.unblockable{
	content: url('https://wiki.guildwars2.com/images/thumb/6/6e/Unblockable.png/30px-Unblockable.png');
}

.exposed{
	content: url('https://wiki.guildwars2.com/images/6/6b/Exposed.png');
}

.invuln{
	content: url('https://wiki.guildwars2.com/images/e/eb/Determined.png');
}

.vuln{
	content: url('https://wiki.guildwars2.com/images/thumb/a/af/Vulnerability.png/30px-Vulnerability.png');
}

.stun{
	content: url('https://wiki.guildwars2.com/images/thumb/9/97/Stun.png/30px-Stun.png');
}

.defeat{
	content:url('https://wiki.guildwars2.com/images/4/42/Dead_ally_overhead_icon.png')
}

.daze{
	content:url('https://wiki.guildwars2.com/images/thumb/7/79/Daze.png/30px-Daze.png')
}

.debilitated {
	content: url('https://wiki.guildwars2.com/images/thumb/8/80/Debilitated.png/30px-Debilitated.png');
}

.poison {
	content: url('https://wiki.guildwars2.com/images/1/11/Poisoned.png');
}

.burning {
	content: url('https://wiki.guildwars2.com/images/4/45/Burning.png');
}

.confusion {
	content: url('https://wiki.guildwars2.com/images/e/e6/Confusion.png');
}

.bleeding {
	content: url('https://wiki.guildwars2.com/images/3/33/Bleeding.png');
}

.cripple {
	content: url('https://wiki.guildwars2.com/images/f/fb/Crippled.png');
}

.cleanse {
	content: url('https://wiki.guildwars2.com/images/thumb/1/12/Healing_Spring.png');
}

.superspeed {
	content: url('https://wiki.guildwars2.com/images/thumb/c/c8/Superspeed.png/60px-Superspeed.png');
}

// Skills

.evade{
	content: url('https://wiki.guildwars2.com/images/b/b2/Dodge.png');
}

.distortion {
	content: url('https://wiki.guildwars2.com/images/thumb/2/22/Distortion.png/72px-Distortion.png');
}

.feedback {
	content: url('https://wiki.guildwars2.com/images/thumb/6/69/Feedback.png/72px-Feedback.png');
}

.cpc {
	content: url('https://wiki.guildwars2.com/images/thumb/3/3e/Corrosive_Poison_Cloud.png/72px-Corrosive_Poison_Cloud.png');
}

.precog {
	content: url('https://wiki.guildwars2.com/images/thumb/4/4a/Well_of_Precognition.png/72px-Well_of_Precognition.png');
}

.inversion {
	content: url('https://wiki.guildwars2.com/images/thumb/3/3b/Imaginary_Inversion.png/50px-Imaginary_Inversion.png')
}

// Decima Mechanics

.charge{
	content: url('https://wiki.guildwars2.com/images/thumb/0/01/Electrical_Buildup.png/30px-Electrical_Buildup.png');
}

.harmonic-sensitivity{
	content: url('https://wiki.guildwars2.com/images/thumb/6/68/Tracked.png/30px-Tracked.png');
}

.galvanic-sensitivity{
	content: url('https://wiki.guildwars2.com/images/thumb/4/42/Exposed_%28Statue_of_Darkness%29.png/30px-Exposed_%28Statue_of_Darkness%29.png');
}

.thrumming {
	content: url('https://wiki.guildwars2.com/images/thumb/4/42/Conjured_Barrier.png/30px-Conjured_Barrier.png');
}

.harmony{
	content: url('https://wiki.guildwars2.com/images/thumb/6/64/Kinetic_Abundance.png/30px-Kinetic_Abundance.png');	
}

.discord{
	content: url('https://wiki.guildwars2.com/images/thumb/6/6d/Electrified_Minion.png/30px-Electrified_Minion.png');	
}

.enrage{
	content: url('https://wiki.guildwars2.com/images/7/78/Vengeance_%28Mordrem%29.png');
}

.nova-shield{
	content: url('https://wiki.guildwars2.com/images/thumb/5/57/Diaphanous_Shielding.png/30px-Diaphanous_Shielding.png');
}

.fractured {
	content: url('https://wiki.guildwars2.com/images/thumb/4/44/Expose_Weakness.png/30px-Expose_Weakness.png');
}

.linked {
	content: url('https://wiki.guildwars2.com/images/d/d7/Sinister_Thread.png');
}


// Greer Mechanics

.plague-rot {
	content: url('https://wiki.guildwars2.com/images/thumb/8/89/Infectious_Rot.png/20px-Infectious_Rot.png');
}

.target {
	content: url('https://wiki.guildwars2.com/images/thumb/0/09/Target.png/20px-Target.png');
}

// Ura Mechanics

.titanicresistance {
	content: url('https://wiki.guildwars2.com/images/d/d4/Titanic_Resistance.png');
}

.risingpressure {
	content: url('https://wiki.guildwars2.com/images/5/53/Fiery_Tornado_%28effect%29.png');
}

.sulfuricacid {
	content: url('https://wiki.guildwars2.com/images/a/ab/Grasp_of_Joko_%28effect%29.png');
}

.dispel {
	content: url('https://wiki.guildwars2.com/images/thumb/0/07/Consume_Bloodstone_Fragment.png/41px-Consume_Bloodstone_Fragment.png');
}

.deterrence {
	content: url('https://wiki.guildwars2.com/images/c/cc/Luck_of_Kings.png');
}

.saturation {
	content: url('https://wiki.guildwars2.com/images/4/4d/Heat_Level.png');
}

// Classes

.chrono {
	content: url(https://wiki.guildwars2.com/images/e/e0/Chronomancer_icon_small.png);
}

.herald {
	content: url(https://wiki.guildwars2.com/images/3/39/Herald_icon_small.png);
}

.scourge {
	content: url(https://wiki.guildwars2.com/images/e/e8/Scourge_icon_small.png);
}


.specter {
	content: url(https://wiki.guildwars2.com/images/6/61/Specter_icon_small.png);
}

// Markers

.arrow {
	content: url(https://wiki.guildwars2.com/images/thumb/e/ef/Commander_arrow_marker.png/45px-Commander_arrow_marker.png);
}

.circle {
	content: url(https://wiki.guildwars2.com/images/thumb/6/60/Commander_circle_marker.png/45px-Commander_circle_marker.png);
}

.heart {
	content: url(https://wiki.guildwars2.com/images/thumb/3/32/Commander_heart_marker.png/45px-Commander_heart_marker.png);
}


// Other

.knockback{
	content: url('https://wiki.guildwars2.com/images/c/ca/Knockback.png');
}

.knockdown{
	content: url('https://wiki.guildwars2.com/images/3/36/Knockdown.png');
}

.power {
	content: url('https://wiki.guildwars2.com/images/2/23/Power.png');
}

.condition {
	content: url('https://wiki.guildwars2.com/images/5/54/Condition_Damage.png');
}

.stunbreak {
	content: url('https://wiki.guildwars2.com/images/thumb/7/7a/Breaks_stun.png/30px-Breaks_stun.png');
}

.check {
	width: 2em !important;
    height: 2em;
	content: url('/images/green_check.svg');
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}