// Bindings for images and icons used throughout the guides

// Buffs and debuffs

.protection{
	content: url('https://wiki.guildwars2.com/images/6/6c/Protection.png');
}

.stability{
	content: url('https://wiki.guildwars2.com/images/a/ae/Stability.png');
}

.defiance{
	content: url('https://wiki.guildwars2.com/images/4/49/Unshakable2.png');
}

.resolution{
	content: url('https://wiki.guildwars2.com/images/0/06/Resolution.png');
}

.quickness{
	content: url('https://wiki.guildwars2.com/images/b/b4/Quickness.png');
}

.might{
	content: url('https://wiki.guildwars2.com/images/7/7c/Might.png');
}

.fury{
	content: url('https://wiki.guildwars2.com/images/4/46/Fury.png');
}

.empowered{
	content: url('https://wiki.guildwars2.com/images/9/9c/Empowered_%28Mursaat_Overseer%29.png');
}

.aegis{
	content: url('https://wiki.guildwars2.com/images/e/e5/Aegis.png');
}

.stun{
	content: url('https://wiki.guildwars2.com/images/thumb/9/97/Stun.png/30px-Stun.png');
}

.unblockable{
	content: url('https://wiki.guildwars2.com/images/thumb/6/6e/Unblockable.png/30px-Unblockable.png');
}

.exposed{
	content: url('https://wiki.guildwars2.com/images/6/6b/Exposed.png');
}

.invuln{
	content: url('https://wiki.guildwars2.com/images/e/eb/Determined.png');
}

.vuln{
	content: url('https://wiki.guildwars2.com/images/thumb/a/af/Vulnerability.png/30px-Vulnerability.png');
}

.stun{
	content: url('https://wiki.guildwars2.com/images/thumb/9/97/Stun.png/30px-Stun.png');
}

.defeat{
	content:url('https://wiki.guildwars2.com/images/4/42/Dead_ally_overhead_icon.png')
}

.daze{
	content:url('https://wiki.guildwars2.com/images/thumb/7/79/Daze.png/30px-Daze.png')
}

.debilitated {
	content: url('https://wiki.guildwars2.com/images/thumb/8/80/Debilitated.png/30px-Debilitated.png');
}

.poison {
	content: url('https://wiki.guildwars2.com/images/1/11/Poisoned.png');
}

.burning {
	content: url('https://wiki.guildwars2.com/images/4/45/Burning.png');
}

.confusion {
	content: url('https://wiki.guildwars2.com/images/e/e6/Confusion.png');
}

.bleeding {
	content: url('https://wiki.guildwars2.com/images/3/33/Bleeding.png');
}

.cripple {
	content: url('https://wiki.guildwars2.com/images/f/fb/Crippled.png');
}

.cleanse {
	content: url('https://wiki.guildwars2.com/images/thumb/1/12/Healing_Spring.png');
}

.superspeed {
	content: url('https://wiki.guildwars2.com/images/thumb/c/c8/Superspeed.png/60px-Superspeed.png');
}

.stealth {
	content: url('https://wiki.guildwars2.com/images/1/19/Stealth.png');
}

.toughness {
	content: url('https://wiki.guildwars2.com/images/1/12/Toughness.png')
}

// Skills

.evade{
	content: url('https://wiki.guildwars2.com/images/b/b2/Dodge.png');
}

.distortion {
	content: url('https://wiki.guildwars2.com/images/thumb/2/22/Distortion.png/72px-Distortion.png');
}

.feedback {
	content: url('https://wiki.guildwars2.com/images/thumb/6/69/Feedback.png/72px-Feedback.png');
}

.medic-feedback {
	content: url('https://wiki.guildwars2.com/images/thumb/b/bf/Medic%27s_Feedback.png/60px-Medic%27s_Feedback.png');
}

.cpc {
	content: url('https://wiki.guildwars2.com/images/thumb/3/3e/Corrosive_Poison_Cloud.png/72px-Corrosive_Poison_Cloud.png');
}

.precog {
	content: url('https://wiki.guildwars2.com/images/thumb/4/4a/Well_of_Precognition.png/72px-Well_of_Precognition.png');
}

.inversion {
	content: url('https://wiki.guildwars2.com/images/thumb/3/3b/Imaginary_Inversion.png/50px-Imaginary_Inversion.png')
}

.rifle-portal {
	content: url('https://wiki.guildwars2.com/images/thumb/8/80/Dimensional_Aperture.png/72px-Dimensional_Aperture.png');
}

.wall-reflect {
	content: url('https://wiki.guildwars2.com/images/thumb/6/6d/Wall_of_Reflection.png/96px-Wall_of_Reflection.png');
}

.stand-ground {
	content: url('https://wiki.guildwars2.com/images/3/31/%22Stand_Your_Ground%21%22.png');
}

.bulwark {
	content: url('https://wiki.guildwars2.com/images/7/73/Chapter_3-_Valiant_Bulwark.png');
}

.smoke-screen {
	content: url('https://wiki.guildwars2.com/images/e/e5/Smoke_Screen.png')
}

.cs {
	content: url('https://wiki.guildwars2.com/images/thumb/d/db/Continuum_Split.png/96px-Continuum_Split.png');
}

.moa {
	content: url('https://wiki.guildwars2.com/images/thumb/b/b5/Signet_of_Humility.png/96px-Signet_of_Humility.png')
}

.domination {
	content: url('https://wiki.guildwars2.com/images/thumb/3/3b/Signet_of_Domination.png/96px-Signet_of_Domination.png');
}

.senility {
	content: url('https://wiki.guildwars2.com/images/thumb/b/bb/Well_of_Senility.png/96px-Well_of_Senility.png');
}

.blink {
	content: url('https://wiki.guildwars2.com/images/thumb/1/16/Blink.png/72px-Blink.png');
}

.technobabble {
	content: url('https://wiki.guildwars2.com/images/thumb/9/9c/Technobabble.png/72px-Technobabble.png');
}

.collapse {
	content: url('https://wiki.guildwars2.com/images/thumb/5/5a/Mental_Collapse.png/72px-Mental_Collapse.png');
}

.clarity {
	content: url('https://wiki.guildwars2.com/images/d/d7/Clarity.png');
}

.sharpshooter {
	content: url('https://wiki.guildwars2.com/images/thumb/3/3b/Phantasmal_Sharpshooter.png/50px-Phantasmal_Sharpshooter.png');
}

.anguish {
	content: url('https://wiki.guildwars2.com/images/thumb/6/68/Trail_of_Anguish.png/72px-Trail_of_Anguish.png');
}

.blood-power {
	content: url('https://wiki.guildwars2.com/images/thumb/1/13/Blood_Is_Power.png/72px-Blood_Is_Power.png');
}

.curses {
	content: url('https://wiki.guildwars2.com/images/9/9a/Curses.png');
}

.reaping {
	content: url('https://wiki.guildwars2.com/images/5/50/Soul_Reaping.png');
}

.blood-magic {
	content:  url('https://wiki.guildwars2.com/images/b/b8/Blood_Magic.png');
}

.liberation {
	content: url('https://wiki.guildwars2.com/images/thumb/d/d2/Mantra_of_Liberation.png/50px-Mantra_of_Liberation.png');
}

.purging {
	content:  url('https://wiki.guildwars2.com/images/thumb/2/28/Purging_Flames.png/72px-Purging_Flames.png');
}

.feel-my-wrath {
	content: url('https://wiki.guildwars2.com/images/thumb/6/6f/%22Feel_My_Wrath%21%22.png/72px-%22Feel_My_Wrath%21%22.png');
}

.epilogue {
	content: url('https://wiki.guildwars2.com/images/thumb/d/d8/Epilogue-_Unbroken_Lines.png/50px-Epilogue-_Unbroken_Lines.png');
}

.virtues {
	content: url('https://wiki.guildwars2.com/images/8/81/Virtues.png');
}

.absolute-resolve {
	content: url('https://wiki.guildwars2.com/images/thumb/8/8c/Absolute_Resolve.png/38px-Absolute_Resolve.png');
}

.healing-turret {
	content: url('https://wiki.guildwars2.com/images/thumb/4/42/Healing_Turret.png/72px-Healing_Turret.png');
}

.lightning {
	content:  url('https://wiki.guildwars2.com/images/thumb/b/b2/Lightning_Flash.png/72px-Lightning_Flash.png');
}

.ele-glyph {
	content: url('https://wiki.guildwars2.com/images/thumb/b/b9/Glyph_of_Lesser_Elementals.png/50px-Glyph_of_Lesser_Elementals.png');
}

.mass-momentum {
	content: url('https://wiki.guildwars2.com/images/thumb/a/a9/Mass_Momentum.png/38px-Mass_Momentum.png');
}

.golem {
	content: url('https://wiki.guildwars2.com/images/thumb/9/95/Summon_Flesh_Golem.png/72px-Summon_Flesh_Golem.png');
}

.golem-charge {
	content: url('https://wiki.guildwars2.com/images/thumb/3/3b/Charge_%28necromancer_skill%29.png/41px-Charge_%28necromancer_skill%29.png');
}

.jurisdiction {
	content: url('https://wiki.guildwars2.com/images/thumb/3/32/Jurisdiction.png/72px-Jurisdiction.png');
}

.rebuke {
	content: url('https://wiki.guildwars2.com/images/thumb/e/e7/Chapter_3-_Heated_Rebuke.png/72px-Chapter_3-_Heated_Rebuke.png');
}

.stab-mantra {
	content: url('https://wiki.guildwars2.com/images/thumb/a/ac/Mantra_of_Concentration.png/72px-Mantra_of_Concentration.png');
}

.shift {
	content: url('https://wiki.guildwars2.com/images/d/d1/Shift_Signet.png');
}

.undeath {
	content: url('https://wiki.guildwars2.com/images/thumb/9/9c/Signet_of_Undeath.png/72px-Signet_of_Undeath.png');
}

.master-consecrations {
	content: url('https://wiki.guildwars2.com/images/thumb/b/b4/Master_of_Consecrations.png/38px-Master_of_Consecrations.png');
}

.restore-virtues {
	content: url('https://wiki.guildwars2.com/images/thumb/0/00/Restorative_Virtues.png/60px-Restorative_Virtues.png');
}

.perm-wrath {
	content:  url('https://wiki.guildwars2.com/images/thumb/8/89/Permeating_Wrath.png/60px-Permeating_Wrath.png');
}

.haste {
	content: url('https://wiki.guildwars2.com/images/thumb/3/35/Haste.png/72px-Haste.png');
}

.shadowstep {
	content: url('https://wiki.guildwars2.com/images/thumb/2/25/Shadowstep.png/72px-Shadowstep.png');
}

.distracting-throw {
	content: url('https://wiki.guildwars2.com/images/thumb/d/d8/Distracting_Throw.png/72px-Distracting_Throw.png');
}

.m7 {
	content: url('https://wiki.guildwars2.com/images/thumb/9/94/Maleficent_Seven.png/60px-Maleficent_Seven.png');
}

.grandfinale {
	content: url('https://wiki.guildwars2.com/images/thumb/8/88/Grand_Finale.png/54px-Grand_Finale.png');
}

.ventari {
	content: url('https://wiki.guildwars2.com/images/thumb/8/8a/Legendary_Centaur_Stance.png/72px-Legendary_Centaur_Stance.png');
}

.leap {
	content: url('https://wiki.guildwars2.com/images/thumb/0/09/Leap_%28Raptor%29.png/72px-Leap_%28Raptor%29.png');
}

.roll-out {
	content: url('https://wiki.guildwars2.com/images/thumb/8/85/Roll_Out.png/72px-Roll_Out.png');
}

// Decima Mechanics

.charge{
	content: url('https://wiki.guildwars2.com/images/thumb/0/01/Electrical_Buildup.png/30px-Electrical_Buildup.png');
}

.harmonic-sensitivity{
	content: url('https://wiki.guildwars2.com/images/thumb/6/68/Tracked.png/30px-Tracked.png');
}

.galvanic-sensitivity{
	content: url('https://wiki.guildwars2.com/images/thumb/4/42/Exposed_%28Statue_of_Darkness%29.png/30px-Exposed_%28Statue_of_Darkness%29.png');
}

.thrumming {
	content: url('https://wiki.guildwars2.com/images/thumb/4/42/Conjured_Barrier.png/30px-Conjured_Barrier.png');
}

.harmony{
	content: url('https://wiki.guildwars2.com/images/thumb/6/64/Kinetic_Abundance.png/30px-Kinetic_Abundance.png');	
}

.discord{
	content: url('https://wiki.guildwars2.com/images/thumb/6/6d/Electrified_Minion.png/30px-Electrified_Minion.png');	
}

.enrage{
	content: url('https://wiki.guildwars2.com/images/7/78/Vengeance_%28Mordrem%29.png');
}

.nova-shield{
	content: url('https://wiki.guildwars2.com/images/thumb/5/57/Diaphanous_Shielding.png/30px-Diaphanous_Shielding.png');
}

.fractured {
	content: url('https://wiki.guildwars2.com/images/thumb/4/44/Expose_Weakness.png/30px-Expose_Weakness.png');
}

.linked {
	content: url('https://wiki.guildwars2.com/images/d/d7/Sinister_Thread.png');
}


// Greer Mechanics

.plague-rot {
	content: url('https://wiki.guildwars2.com/images/thumb/8/89/Infectious_Rot.png/20px-Infectious_Rot.png');
}

.target {
	content: url('https://wiki.guildwars2.com/images/thumb/0/09/Target.png/20px-Target.png');
}

.two-person {
	content: url('../../images/greer/mechanics/2-green.png');
}

.three-person {
	content: url('../../images/greer/mechanics/3-green.png');
}

// Ura Mechanics

.titanicresistance {
	content: url('https://wiki.guildwars2.com/images/d/d4/Titanic_Resistance.png');
}

.risingpressure {
	content: url('https://wiki.guildwars2.com/images/5/53/Fiery_Tornado_%28effect%29.png');
}

.sulfuricacid {
	content: url('https://wiki.guildwars2.com/images/a/ab/Grasp_of_Joko_%28effect%29.png');
}

.dispel {
	content: url('https://wiki.guildwars2.com/images/thumb/0/07/Consume_Bloodstone_Fragment.png/41px-Consume_Bloodstone_Fragment.png');
}

.deterrence {
	content: url('https://wiki.guildwars2.com/images/c/cc/Luck_of_Kings.png');
}

.saturation {
	content: url('https://wiki.guildwars2.com/images/4/4d/Heat_Level.png');
}

.hardened {
	content: url('https://wiki.guildwars2.com/images/4/4e/Branded_Crystal_Shield.png')
}

// Classes

.chrono {
	content: url(https://wiki.guildwars2.com/images/e/e0/Chronomancer_icon_small.png);
}

.herald {
	content: url(https://wiki.guildwars2.com/images/3/39/Herald_icon_small.png);
}

.scourge {
	content: url(https://wiki.guildwars2.com/images/e/e8/Scourge_icon_small.png);
}

.specter {
	content: url(https://wiki.guildwars2.com/images/6/61/Specter_icon_small.png);
}

.druid {
	content: url(https://wiki.guildwars2.com/images/9/9b/Druid_icon_small.png)
}

.firebrand {
	content: url(https://wiki.guildwars2.com/images/0/0e/Firebrand_icon_small.png);
}

.deadeye {
	content: url(https://wiki.guildwars2.com/images/7/70/Deadeye_icon_small.png);
}

.scrapper {
	content: url(https://wiki.guildwars2.com/images/7/7d/Scrapper_icon_small.png);
}

.vindicator {
	content: url(https://wiki.guildwars2.com/images/6/6d/Vindicator_icon_small.png);
}

.mechanist {
	content: url(https://wiki.guildwars2.com/images/6/6d/Mechanist_icon_small.png);
}

.willbender {
	content: url(https://wiki.guildwars2.com/images/6/64/Willbender_icon_small.png);
}

.daredevil {
	content: url(https://wiki.guildwars2.com/images/f/f3/Daredevil_icon_small.png);
}

.weaver {
	content: url(https://wiki.guildwars2.com/images/c/c3/Weaver_icon_small.png);
}

.elementalist {
	content: url(https://wiki.guildwars2.com/images/4/4e/Elementalist_icon_small.png);
}

.virtuoso {
	content: url(https://wiki.guildwars2.com/images/7/77/Virtuoso_icon_small.png);
}

.tempest {
	content: url(https://wiki.guildwars2.com/images/5/58/Tempest_icon_small.png);
}

// Transforms

.celestialavatar {
	content: url(https://wiki.guildwars2.com/images/thumb/5/59/Celestial_Avatar.png/54px-Celestial_Avatar.png);
}

.deathshroud {
	content: url(https://wiki.guildwars2.com/images/thumb/f/f5/Death_Shroud.png/54px-Death_Shroud.png);
}

.reapersshroud {
	content: url(https://wiki.guildwars2.com/images/thumb/1/11/Reaper%27s_Shroud.png/54px-Reaper%27s_Shroud.png);
}

.harbingershroud {
	content: url(https://wiki.guildwars2.com/images/thumb/a/ab/Harbinger_Shroud.png/54px-Harbinger_Shroud.png);
}

.lichform {
	content: url(https://wiki.guildwars2.com/images/thumb/a/ab/Lich_Form.png/54px-Lich_Form.png);
}

.elixirs {
	content: url(https://wiki.guildwars2.com/images/thumb/d/d8/Elixir_S.png/54px-Elixir_S.png);
}

.photonforge {
	content: url(https://wiki.guildwars2.com/images/thumb/d/dd/Engage_Photon_Forge.png/54px-Engage_Photon_Forge.png);
}

.shadowshroud {
	content: url(https://wiki.guildwars2.com/images/thumb/f/f3/Enter_Shadow_Shroud.png/54px-Enter_Shadow_Shroud.png);
}

.tornado {
	content: url(https://wiki.guildwars2.com/images/thumb/4/40/Tornado.png/54px-Tornado.png);
}

.mistform {
	content: url(https://wiki.guildwars2.com/images/thumb/1/1b/Mist_Form.png/54px-Mist_Form.png);
}

// Markers

.arrow {
	content: url(https://wiki.guildwars2.com/images/thumb/e/ef/Commander_arrow_marker.png/45px-Commander_arrow_marker.png);
}

.circle {
	content: url(https://wiki.guildwars2.com/images/thumb/6/60/Commander_circle_marker.png/45px-Commander_circle_marker.png);
}

.heart {
	content: url(https://wiki.guildwars2.com/images/thumb/3/32/Commander_heart_marker.png/45px-Commander_heart_marker.png);
}

.xmarker {
	content: url(https://wiki.guildwars2.com/images/thumb/b/b9/Commander_x_marker.png/45px-Commander_x_marker.png);
}

.swirl {
	content: url(https://wiki.guildwars2.com/images/thumb/0/00/Commander_spiral_marker.png/45px-Commander_spiral_marker.png);
}

// Other

.knockback{
	content: url('https://wiki.guildwars2.com/images/c/ca/Knockback.png');
}

.knockdown{
	content: url('https://wiki.guildwars2.com/images/3/36/Knockdown.png');
}

.power {
	content: url('https://wiki.guildwars2.com/images/2/23/Power.png');
}

.condition {
	content: url('https://wiki.guildwars2.com/images/5/54/Condition_Damage.png');
}

.stunbreak {
	content: url('https://wiki.guildwars2.com/images/thumb/7/7a/Breaks_stun.png/30px-Breaks_stun.png');
}

.check {
	width: 2em !important;
    height: 2em;
	content: url('../../images/green_check.svg');
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.pro {
	width: 1em !important;
    height: 1em;
	content: url('../../images/green_check.svg');
}

.con {
	width: 1em !important;
    height: 1em;
	content: url('../../images/red_cross.svg');
}

.midnight {
	content: url('https://wiki.guildwars2.com/images/thumb/6/67/Relic_of_the_Midnight_King.png/60px-Relic_of_the_Midnight_King.png');
}

.speed {
	content: url('https://wiki.guildwars2.com/images/thumb/6/68/Relic_of_Speed.png/60px-Relic_of_Speed.png');
}

.thorns-relic {
	content: url('https://wiki.guildwars2.com/images/thumb/8/8a/Relic_of_Thorns.png/60px-Relic_of_Thorns.png');
}

.achievement {
	content: url('https://wiki.guildwars2.com/images/1/10/Achievement_effect.png');
}

.vl-icon {
	content:  url(../../images/VL_icon.webp);
}

.sheets {
	content: url(https://upload.wikimedia.org/wikipedia/commons/3/30/Google_Sheets_logo_%282014-2020%29.svg);
}

.slides {
	content: url(https://upload.wikimedia.org/wikipedia/commons/1/1e/Google_Slides_logo_%282014-2020%29.svg);
}

.docs {
	content: url(https://upload.wikimedia.org/wikipedia/commons/0/01/Google_Docs_logo_%282014-2020%29.svg);
}

.build {
	content: url(../../images/wrench-icon.png);
	margin-right: 3px;
}